/.gradle/
/.idea/
/build/
/run/

/fabric/.gradle/
/fabric/build/
/fabric/out/
/fabric/run/

/forge/build/
/forge/out/
/forge/run/

/common/build/
/common/out/
/common/run/
/common/.gradle/

/buildSrc/.gradle/
/buildSrc/build/

**/bin/

# Allow libs
!common/libs/*.jar

**/*.launch
*.log
*.hprof

/fabric/runs/

/bootstrap/build/
/bootstrap/.gradle/
